
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Raleway', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #4E4E4E;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.section-wrapper {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    // left: 25%;
    // transform:translateX(-25%);
}
.default-btn a {
    font-size: 25px;
    line-height: 29px;
    color: #98B8F6;
    margin-right: 5px;
    transition: all .5s;
    padding-right: 40px;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        background-image: url(../images/icons/ic_arrow.png);
        width: 28px;
        height: 21px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        color: rgb(92, 94, 212);
    }
}